@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Take or select a photo</h1>
    <form
        name="form1"
        method="post"
        enctype="multipart/form-data"
        action="/api/upload/"
        >
        <div>
            <input class="submit" name="file" type="file" />
        </div>
        <div>
            <input class="submit" type="submit" value="Count" />
        </div>

    </form>
</div>


